@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  font-weight: 400 !important;
}
.card {
  padding: 13px;
  /* border: 1px solid; */
  border-radius: 15px !important;
}
img {
  /* border: 1px solid; */
  border-radius: 15px !important;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}
.card-title {
  font-weight: 700 !important;
}
